<div data-options="dxView : { name: 'about', title: 'About' } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " class="dx-content-background">
        <div data-bind="dxScrollView: {}">
            <p style="padding: 5px">ClientSideDevExtremeProject</p>
            <p style="padding: 5px">Modify this view to describe your application and provide additional information.</p>

            <p style="padding: 5px">To learn more about DevExtreme, visit <a href="https://js.devexpress.com/Documentation/" target="_blank">https://js.devexpress.com/Documentation/</a>. It is an interactive learning environment where you can find documentation, feature demonstrations, and various tutorials.</p>

            <p style="padding: 5px">If you have any questions about DevExtreme, do not hesitate to contact our support team via <a href="https://www.devexpress.com/support/center/" target="_blank">https://www.devexpress.com/support/center/</a>. </p>
        </div>
    </div>
</div>