@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Serivce App";
}

@using(Html.BeginForm()) {
    <label>Hi! It is a backend service for the Web Document Viewer.</label>
    <br />
}
