.dxrd-preview-holder {
    width: 100%;
    height: 100%;
}

.custom-toolbar {
    width: auto;
    height: auto;
    padding-bottom: 2px;
}

.toolbar-report-selector {
    width: 200px;
    float: left;
}

.toolbar-item {
    margin-right: 8px;
}